In [1]:
print (" twinkle, twinkle, little star, \n \t how I wonder what you are! \n \t\t up above the world so high, \n\t\t like a diamond in the sky. \n twinkle,twinkle little star , \n\t how I wonder what you are")

 twinkle, twinkle, little star,
 	 how I wonder what you are!
 		 up above the world so high,
		 like a diamond in the sky.
 twinkle,twinkle little star ,
	 how I wonder what you are

In [9]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [15]:
from datetime import date
today = datetime.datetime.now()
print ("current date and time :")
print ( %y-%m-%d , %h-%m-%s )

SyntaxError: invalid syntax (<ipython-input-15-a158775d851f>, line 4)

In [ ]:
PI= 3.14
radius=float(input("please enter the radius of a circle "))
area= PI*radius*radius

print ("Area of a circle" )

In [ ]:
firstname= input ("input your first name:")
lastname= input ("input your last name:") 
print("hello"+lastname+""+firsttname)

In [ ]:
a= int(input("input your mid term marks"))
b= int(input("input your final term marks "))
sum = a+b
print ("your total marks", sum)

In [ ]:

sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
if(avg>=90):
    print("Grade: A")
elif(avg>=80&avg<90):
    print("Grade: B")
elif(avg>=70&avg<80):
    print("Grade: C")
elif(avg>=60&avg<70):
    print("Grade: D")
else:
    print("Grade: F")

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
print("{0} is Even number". format(num))
else:
print("{0} is Odd number". format(num))

In [ ]:
lst = [1,2,3,4,5,6]
print("List elements: ",lst)
print("Length of the list:",len(lst))

In [ ]:
a = [4,5,89,5,33,2244,56]
a_total = sum(a)

In [13]:
def max_num_in_a_list (list):
 max = list [10]
for a in list:
    if a>max:
    max=a
    return max
  int(max_num_in_list([1,3,5,7,9,10]))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [14]:
 a= [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3